{
  "algorithm": "SHA256",
  "check-requirements": false,
  "chmod": "0700",
  "compactors": [
    "KevinGH\\Box\\Compactor\\Json",
    "KevinGH\\Box\\Compactor\\Php"
  ],
  "finder": [
    {
      "notName": "/LICENSE|.*\\.md|.*\\.dist|Makefile|composer\\.json|composer\\.lock/",
      "exclude": [
        "doc",
        "test",
        "test_old",
        "tests",
        "Tests",
        "vendor-bin"
      ],
      "in": [
        "src",
        "vendor"
      ]
    },
    {
      "name": "LICENSE",
      "in": "vendor/composer/composer"
    },
    {
      "name": "composer.json",
      "in": "."
    },
    {
      "name": "autoupdater.php",
      "in": "."
    }
  ],
  "git-version": "package_version",
  "main": "autoupdater.php"
}
